.mat-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;

	.mat-header-row{
		font-weight: bold;
		font-family: Montserrat, Roboto, serif;
	}

	.mat-row, .mat-footer-row{
		font-family: Lato, Roboto, serif;
	}

	.mat-column-title {
		width: 55%;
	}

	.mat-column-version, .mat-column-download-count {
		text-align: right;
	}
	.mat-column-version {
		padding-right: 4px;
	}
	.mat-column-download-count {
		padding-left: 4px;
	}

	a {
		color: white;
	}

	tr.mat-footer-row {
		border-top: 2px solid gray;
	}

}


@media screen and (min-width: 500px) {
	.mat-table {
		width: 500px;
	}
}
