@import '~@angular/material/theming';

.app-component {
	display: flex;
	flex-direction: column;

	h1 {
		font-family: Montserrat, Roboto, serif;
		color: limegreen;
		text-align: center;
		padding-top: 1em;
		text-shadow: 3px 3px 3px darkgreen;
	}

	app-stats {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.github-footer {
		margin: 1rem;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex: 1;


		a {
			color: white;
			display: flex;
			align-items: center;
			font-family: Montserrat, Lato, Roboto, serif;
			font-weight: normal;
			text-shadow: 2px 2px 2px gray;

			img {
				width: 64px;
			}
		}
	}
}
