<div class="dashboard">
	<h1>ScreamAPI Stats</h1>
	<table mat-table [dataSource]="releases" class="mat-elevation-z8">
		<!-- Title Column -->
		<ng-container matColumnDef="title">
			<th mat-header-cell *matHeaderCellDef>Title</th>
			<td mat-cell *matCellDef="let release">
				<a href="{{release.url}}">{{release.name}}</a>
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>

		<!-- Version Column -->
		<ng-container matColumnDef="version">
			<th mat-header-cell *matHeaderCellDef>Version</th>
			<td mat-cell *matCellDef="let release"> {{release.version}} </td>
			<td mat-footer-cell *matFooterCellDef>All versions</td>
		</ng-container>

		<!-- Download Count Column -->
		<ng-container matColumnDef="download-count">
			<th mat-header-cell *matHeaderCellDef>Download Count</th>
			<td mat-cell *matCellDef="let release"> {{release.downloadCount}} </td>
			<td mat-footer-cell *matFooterCellDef>{{getTotalSum()}}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
	</table>
</div>
