
h1 {
	text-align: center;
	margin-top: 1rem;
	color: limegreen;
}

a {
	color: white;
}

.mat-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}


@media screen and (min-width: 500px) {
	.mat-table {
		width: 500px;
	}

}

.mat-column-title{
	width: 55%;
}


.mat-column-version, .mat-column-download-count{
	text-align: right;
}


tr.mat-footer-row {
	border-top: 2px solid gray;
}
